{% extends "layout.html" %}
{% block body %}
<head>
<script type=text/javascript src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.0.0.min.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Mystyle.css') }}">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='canvas2image.js') }}"></script>

<style>
</style>
</head>

<script>
$(document).ready(function() {
         console.log("here")
    $("#clear").bind("click", function(){
         $("#section1").empty();
         $("#section2").empty();
        });

$(function() {

    $("#btnSave").click(function() {
        html2canvas($("#section"), {
            onrendered: function(canvas) {
                theCanvas = canvas;
                // Convert and download as image
                Canvas2Image.saveAsPNG(canvas);
                // Clean up
                //document.body.removeChild(canvas);
            }
        });
    });
    $(window).resize(function() {
    var divheight = $("#section1").height();
    var divwidth = $("#section1").width();
    var update = {
      width:divwidth, 
      height:divheight
    };
     var plot1 = $("#section1").find("*").toArray();
     var plot2 = $("#section2").find("*").toArray();
        Plotly.relayout(plot1[2].getAttribute("id"), update);
        Plotly.relayout(plot2[2].getAttribute("id"), update);
            }).resize();
});
});
</script>


<div id="nav" >
<font size="3"><b>Filename<b></font>

<div class="mainselection">
<form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">

<input id="uploadFile" placeholder="Choose File" name="display_text" type="text" disabled="disabled" />
<label class="myLabel">
<input  id="upload_input" name="file" type="file"/>
    <span>Choose File</span>
</label>


<br>
<br>
<font size="3"><b>Select Time Range<b></font>
<br>
     <input type="text" name="from_time" placeholder="From"><br>
     <input type="text" name="to_time" placeholder="To" ><br>
<br>

  <font size="3"><b>Select Count Rate Range<b></font>
  <br>
     <input type="text" name="from_count" placeholder="From"><br>
     <input type="text" name="to_count" placeholder="To" ><br>
<br>

</div>
    <input type="submit" name="my-form" value="Load Spectrum">

    </form>
    <button id ="clear" class="button button1">Clear</button>
    <input type="button" id="btnSave"  value="Save PNG"/>

</div>

<div class="hello" id="section1" >

  {{div_placeholder_fig1| safe}}


</div>
<div class="hello" id="section2" >

  {{div_placeholder_fig2| safe}}


</div>

<div id="includedContent"></div>
<div id="footer">
TIMELABS
</div>


{% endblock %}