{% extends "layout.html" %}
{% block body %}
<head>
<script type=text/javascript src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.0.0.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Mystyle.css') }}">

</head>
<script>
$(document).ready(function () {
    //$(document).addEventListener('change','input[type="file"]', function (e) {
    //alert("hi")
    $(document ).on('change','input[type="file"]', function () {
    var fullfilename=this.value;
    var filename = fullfilename.replace(/^.*[\\\/]/, '')
    document.getElementById("uploadFile").value = filename;
  });
});
</script>
<div id="nav" >
<font size="3"><b>Filename<b></font>

<div class="mainselection">
<form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">

<input id="uploadFile" placeholder="Choose File"  type="text" disabled="disabled" />
<label class="myLabel">
<input  id="upload_input" name="file" type="file"/>
<span>Choose File</span>
</label>

<br>
<br>

<font size="3"><b>Select Time Range<b></font>
<br>
     <input type="text" name="from_time" placeholder="From"><br>
     <input type="text" name="to_time" placeholder="To" ><br>
<br>

<font size="3"><b>Select Count Rate Range<b></font>
<br>
     <input type="text" name="from_count" placeholder="From"><br>
     <input type="text" name="to_count" placeholder="To" ><br>
<br>

</div>
    <input type="submit" name="my-form" value="Load Spectrum">
    </form>
    <button id ="clear" class="button button1">Clear</button>
</div>

<div class="hello" id="section" >

</div>

<div id="includedContent"></div>
<div id="footer">
TIMELABS
</div>


{% endblock %}