<!doctype html>
<html>

  <head>

    <title>DAVE</title>

    <!-- Insert CSS below here for better page render performance -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui-1.12.1.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap-theme-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sb-admin-theme.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/master_page.css') }}?v={{ range (1, 9999) | random }}">

    <!-- Insert this line above script imports for solve Electron import issues -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui-1.12.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap-3.3.7.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/logger-1.15.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/waiting_dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/service.js') }}?v={{ range (1, 9999) | random }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/master_page.js') }}?v={{ range (1, 9999) | random }}"></script>

    <!-- Insert this line after script imports for solve Electron import issues -->
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>

    <!-- Page Content -->
        <div class="container fluid daveContainer">
          <!-- Projects Row -->
          <div class="row fill">
            <div class="wrapper">
              <div class="wfSelectorContainer columnDivider">
                <div class="navbar-header">
                  <div class="navbar-brand logotype">DAVE</div>
                </div>
                <div class="navbar">
                  <ul class="nav navbar-nav side-nav">
                      <li>
                          <a class="loadBtn" href="#"><i class="fa fa-fw fa-file"></i>Load</a>
                      </li>
                      <li>
                          <a class="filterBtn" href="#"><i class="fa fa-fw fa-filter"></i>Filter</a>
                      </li>
                      <li>
                          <a class="analyzeBtn" href="#"><i class="fa fa-fw fa-area-chart"></i>Analyze</a>
                      </li>
                      <li>
                          <a class="styleBtn" href="#"><i class="fa fa-fw fa-paint-brush"></i>Style</a>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="toolPanelContainer col-xs-3 columnDivider">
                {% include 'includes/tool_panel.html' %}
              </div>
              {% include 'includes/output_panel.html' %}
            </div>
          </div>
          <!-- /.row -->
      </div>

  </body>

</html>
