<!doctype html>
<html>

  <head>

    <title>DAVE</title>

    <!-- Insert CSS below here for better page render performance -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery-ui-1.12.1.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap-theme-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/master_page.css') }}?v={{ range (1, 9999) | random }}">

    <!-- Insert this line above script imports for solve Electron import issues -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui-1.12.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap-3.3.7.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='scripts/logger-1.15.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/waiting_dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/service.js') }}?v={{ range (1, 9999) | random }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/master_page.js') }}?v={{ range (1, 9999) | random }}"></script>

    <!-- Insert this line after script imports for solve Electron import issues -->
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>

    <!-- Page Content -->
        <div class="container fluid daveContainer">
          <!-- Projects Row -->
          <div class="row fill">
            <div class="wrapper">
              <div class="wfSelectorContainer col-xs-1 columnDivider">
                  <h3>
                      <a href="#">Load</a>
                  </h3>
                  <h3>
                      <a href="#">Filter</a>
                  </h3>
                  <h3>
                      <a href="#">Analyze</a>
                  </h3>
                  <h3>
                      <a href="#">Style</a>
                  </h3>
              </div>
              <div class="toolPanelContainer col-xs-3 columnDivider">
                  {% include 'includes/tool_panel.html' %}
              </div>
              {% include 'includes/output_panel.html' %}
            </div>
          </div>
          <!-- /.row -->
      </div>

  </body>

</html>
