<!doctype html>
<html>

  <head>

    <title>DAVE</title>

    <!-- Insert CSS below here for better page render performance -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/external/jquery-ui-1.12.1.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/external/bootstrap-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/external/bootstrap-theme-3.3.7.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/external/sb-admin-theme.css') }}?v={{ get_version() }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/master_page.css') }}?v={{ get_version() }}">

    <!-- Insert this line above script imports for solve Electron import issues -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type=text/javascript src="{{ url_for('static', filename='scripts/external/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/external/jquery-ui-1.12.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/external/bootstrap-3.3.7.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/external/async-2.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/external/waiting_dialog.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/external/logger.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/config.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/service.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/schema.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/projectConfig.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/common.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/htmlControls.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/historyManager.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/master_page.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/version.js') }}?v={{ get_version() }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bulkAnalisys.js') }}?v={{ get_version() }}"></script>

    <!-- Insert this line after script imports for solve Electron import issues -->
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>

    <!-- Static navbar -->
    {% include 'includes/nav_bar.html' %}

    <!-- Page Content -->
    <div class="container fluid daveContainer">
      <!-- TAB PANELS GOES HERE -->
    </div>

    <!-- TabPanel Template -->
    {% include 'includes/tab_panel.html' %}

    <!-- ToolPanel Template -->
    {% include 'includes/tool_panel.html' %}

    <!-- OutputPanel Template -->
    {% include 'includes/output_panel.html' %}

  </body>

</html>
