<div class="toolPanel">
  <form action = "http://localhost:5000/uploader_welcome" method = "POST" enctype = "multipart/form-data">

    <h3>Filename</h3>
    <input id="uploadFile" placeholder="Choose File" type="text" name="display_text" disabled="disabled" />
    <label class="myLabel">
        <input id="upload_input" name="file" type="file"/>
        <span>Choose File</span>
    </label>
    <br>

    <h3>Select Time Range</h3>
    <input id="from_time" type="text" name="from_time" placeholder="From">
    <input id="to_time" type="text" name="to_time" placeholder="To" >
    <br>
    <div id="slider-time" style="width:18.5vw;"></div>
    <br>

    <h3>Select Count Rate Range</h3>
    <input id="from_count" type="text" name="from_count" placeholder="From">
    <input id="to_count" type="text" name="to_count" placeholder="To" ><br>
    <div id="slider-count" style="width:18.5vw;"></div>

    <h3>Select Color1 Range</h3>
    <input id="from_color1" type="text" name="from_color1" placeholder="From">
    <input id="to_color1" type="text" name="to_color1" placeholder="To" ><br>
    <div id="slider-color1" style="width:18.5vw;"></div>

    <h3>Select Color2 Range</h3>
    <input id="from_color2" type="text" name="from_color2" placeholder="From">
    <input id="to_color2" type="text" name="to_color2" placeholder="To" ><br>
    <div id="slider-color2" style="width:18.5vw;"></div>

    <input type="submit" name="my-form" value="Load Spectrum">

    <button id ="clear" class="button button1">Clear</button>
    <br>
    <input type="button" id="btnSave1"  value="Save Left"/>
    <input type="button" id="btnSave2"  value="Save Right"/>

  </form>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/html2canvas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/canvas2image.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/toolpanel.js') }}"></script>
