<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
  <div class="container">
    <div class="navbar-brand">DAVE</div>
    <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav me-auto">
        <li class="nav-item addTabPanelLi"><a class="nav-link addTabPanel" href="#" data-bs-toggle="tooltip" title="Open new tab"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
      </ul>
      <ul id="right-navbar" class="nav navbar-nav ms-auto">
        <li class="nav-item loadWorkSpace"><a class="nav-link" href="#" data-bs-toggle="tooltip" title="Load workspace"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a></li>
        <li class="nav-item saveWorkSpace"><a class="nav-link" href="#" data-bs-toggle="tooltip" title="Save workspace"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
        <li class="nav-item showSettingsTab"><a class="nav-link" href="#" data-bs-toggle="tooltip" title="Preferences"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
