<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">DAVE</div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="addTabPanelLi"><a class="addTabPanel" href="#" data-toggle="tooltip" title="Open new tab"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
      </ul>
      <ul id="right-navbar" class="nav navbar-nav navbar-right">
        <li class="loadWorkSpace"><a href="#" data-toggle="tooltip" title="Load workspace"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a></li>
        <li class="saveWorkSpace"><a href="#" data-toggle="tooltip" title="Save workspace"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
        <li class="showSettingsTab"><a href="#" data-toggle="tooltip" title="Preferences"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
