
<div class="col-md-8">
  <div class="row outputPanelToolBar">
  </div>
  <div class="row outputPanelContainer">
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/outputpanel.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plotly-1.21.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plotter.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plot.js') }}?v={{ range (1, 9999) | random }}"></script>
