
<div class="OutputPanelTemplate" style="display:none">
  <div class="row">
    <div class="col-xs-12 outputPanelToolBar">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 outputPanelBody">
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/external/plotly-1.21.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/external/html2canvas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/external/canvas2image.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/external/jspdf_1_3_3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/outputpanel.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/plotter.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/plot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/lcPlot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/pdsPlot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/dynSpPlot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/fitPlot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/plots/covariancePlot.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/infoPanel.js') }}?v={{ range (1, 9999) | random }}"></script>
