
<div class="TabPanel TabPanelTemplate row fill" style="display:none">
  <div class="wrapper">
    <div class="wfSelectorContainer columnDivider">
      <div class="navbar">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a class="loadBtn" panel="loadPanel" href="#"><i class="fa fa-fw fa-file"></i>Load</a>
            </li>
            <li>
                <a class="filterBtn wfSelectorDisableable" panel="filterPanel" href="#"><i class="fa fa-fw fa-filter"></i>Filter</a>
            </li>
            <li>
                <a class="analyzeBtn wfSelectorDisableable" panel="analyzePanel" href="#"><i class="fa fa-fw fa-area-chart"></i>Analyze</a>
            </li>
            <li>
                <a class="styleBtn wfSelectorDisableable" panel="stylePanel" href="#"><i class="fa fa-fw fa-paint-brush"></i>Style</a>
            </li>
        </ul>
      </div>
    </div>
    <div class="toolPanelContainer col-xs-3 columnDivider">
      toolPanelTemplate Goes here
    </div>
    <div class="outputPanelContainer col-xs-8 height_100">
      outputPanelTemplate Goes here
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/tabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/wfTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/xsTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/fitTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/agnTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/pgTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/phTabpanel.js') }}?v={{ get_version() }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tabPanels/settingsTabpanel.js') }}?v={{ get_version() }}"></script>
