
<div class="ToolPanelTemplate" style="display:none">
  <div class="panelContainer loadPanel">
    <div class="fileSelectorsContainer">
      <!---FileSelectors are appended with JS here -->
    </div>
  </div>
  <div class="panelContainer filterPanel">
    <div class="buttonsContainer hidden">
      <button class="btn button btnClear" data-toggle="tooltip" title="Clear filters"><i class="fa fa-eraser" aria-hidden="true"></i></button>
      <button class="btn button btnUndo" data-toggle="tooltip" title="Undo last"><i class="fa fa-history" aria-hidden="true"></i></button>
      <button class="btn button btnLoad" data-toggle="tooltip" title="Load filters"><i class="fa fa-folder-open-o" aria-hidden="true"></i></button>
      <button class="btn button btnSave" data-toggle="tooltip" title="Save filters"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      <button class="btn button btn-success btnRefresh"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
    </div>
    <div class="selectorsContainer">
      <!---SliderSelectors are appended with JS here -->
    </div>
    <div class="colorSelectorsContainer hidden">
    </div>
  </div>
  <div class="panelContainer analyzePanel">
    <div class="analyzeContainer hidden">

    </div>
  </div>
  <div class="panelContainer stylePanel">
    <div class="styleContainer hidden">
      <button class="btn button btnDragDrop"><i class="fa fa-sitemap" aria-hidden="true"></i> Reorganize</button>
    </div>
  </div>
  <!--- Floating refresh button -->
  <button class="btn button btn-success btnRefreshFloating"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/selectors/fileSelector.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/selectors/sliderSelector.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/selectors/binSelector.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/selectors/modelSelector.js') }}?v={{ range (1, 9999) | random }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/toolpanel.js') }}?v={{ range (1, 9999) | random }}"></script>
