
<div class="ToolPanelTemplate filterPanel" style="display:none">
  <div class="panelContainer loadPanel">
    <div class="fileSelectorsContainer">
      <!---FileSelectors are appended with JS here -->
    </div>
  </div>
  <div class="panelContainer filterPanel">
    <div class="buttonsContainer hidden">
      <button class="btn button btnClear"><i class="fa fa-eraser" aria-hidden="true"></i></button>
      <button class="btn button btnUndo"><i class="fa fa-history" aria-hidden="true"></i></button>
      <button class="btn button btn-success btnAutoRefresh"><i class="fa fa-refresh" aria-hidden="true"></i></i></button>
    </div>
    <div class="selectorsContainer">
      <!---SliderSelectors are appended with JS here -->
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/html2canvas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/canvas2image.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/fileSelector.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/sliderSelector.js') }}?v={{ range (1, 9999) | random }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/binSelector.js') }}?v={{ range (1, 9999) | random }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/toolpanel.js') }}?v={{ range (1, 9999) | random }}"></script>
