
@font-face {
  font-family: Archangelsk;
  src: url("../fonts/Archangelsk.ttf");
}

html,body,.container {
  height: 100%;
  width: 100%;
  margin: 0;
}

h3
{
  font-size: 1.2em;
}

.navbar-static-top {
  font-family: Archangelsk;
  background-color: #222;
  margin-bottom: 0px;
}

.navbar .navbar-brand {
  font-family: Archangelsk;
  width: 90px;
  color: #FE3200;
  font-size: 24px;
}

.side-nav {
  font-family: Archangelsk;
  width: 90px;
}

.side-nav a {
  color: #9d9d9d;
}

.side-nav li.active {
  background-color: #000;
}

ul#right-navbar {
    margin-right: 0px;
}
ul#right-navbar li {
    width: 28px;
}

.closeTabPanel {
  margin-left: 8px;
  margin-right: -8px;
  padding: 0px;
}

.closeIcon {
  opacity: 0.1;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 1;
}

.daveContainer.container:before
{
  content: '';
  display: block;
  float: left;
  height: 100%;
}

.daveContainer .fill
{
  position: relative;
}

.daveContainer .fill:after
{
  content: '';
  display: block;
  clear: left;
}

.daveContainer .wrapper
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.wfSelectorContainer, .toolPanelContainer, .outputPanelContainer, .height_100
{
  float: left;
  position: static;
  height: 100%;
  max-height: 100% !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wfSelectorContainer
{
  width: 90px;
}

.toolPanelContainer
{
  padding-top: 14px;
  background-color: rgb(47, 47, 47);
  color: #9d9d9d;
}

.toolPanelContainer input[type="text"] {
  background-color: #4a4a4a;
  border: 1px solid #222;
  margin-left: 8px;
}

.outputPanelContainer
{
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.daveContainer .columnDivider
{
  border-right: 1px solid black;
}

.infoPanel
{
  float:left;
  width: 98%;
  height: 305px;
  border: 1px solid #afafaf;
  margin: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 12px;
  padding-top: 0px;
  overflow-y: scroll;
}

.infoPanel .property {
  margin-top: 6px;
  width: 100%;
}

.infoPanel .btn
{
  float:right;
  margin-top: 12px;
}

.property .tag {
  width: 18%;
  font-weight: bold;
  vertical-align: top;
}

.property .value {
  width: 30%;
  overflow: hidden;
  vertical-align: top;
}

.property .comment {
  width: 48%;
  color: #999999;
  vertical-align: top;
}

.plotContainer
{
  position: relative;
  float:left;
  width: 48%;
  border: 1px solid #afafaf;
  margin: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 0;
}

.plotSelected, .plotSelected.plotHover
{
  border: 1px solid #ff0000 !important;
}

.plotHover
{
  border: 1px solid #222222 !important;
}

.plotContainer .plot{
  overflow: hidden;
  height: 305px;
}

.plotContainer .hoverinfo
{
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 0px;
  float: left;
  font-size: 0.7em;
  max-width: 60%;
}

.plotContainer .plotTools
{
  float:right;
}

.plotContainer .settings
{
  padding: 24px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.plotContainer .loading, .plotContainer .hoverDisabler
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.71);
}

.loadingGif {
  width: 120px;
  margin: auto;
  margin-top: 80px;
}

.loadingGif img {
  width: 100%;
}

.plotContainer .hoverDisabler
{
  height: 92%;
  background-color: rgba(0, 0, 0, 0.02);
}

.plotContainer .settings h3
{
  margin-top: 12px
}

.fullWidth
{
  width: 98%;
}

.fullScreen
{
  width: 98%;
  height: 590px;
}

.fullScreen .plot{
  height: 560px;
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  top: 3px;
}

.sliderSelector .switch-btn {
  cursor: pointer;
}

.sliderSelector .ui-slider-horizontal {
  background-color: #6a6a6a;
  border: 1px solid #222;
}

.sliderSelector .selectorFrom, .sliderSelector .selectorTo {
  float: left;
  width: 80px;
  margin-top: -30px;
}

.sliderSelector .selectorTo {
  float: right;
}

.sliderSelector .selectorSlider {
  margin-top: 35px;
  margin-left: 8px;
}

.selectorsContainer, .colorSelectorsContainer {
  margin-left: -4px;
}

.colorSelectorsContainer{
  padding-bottom: 60px;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #3a3a3a;
}

.btn {
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.btnWarn {
  white-space: normal;
  font-size: 0.7em;
  margin-top: -2px;
  margin-bottom: -2px;
}

.bigWarnBtn {
  width: 73%;
}

.btnWarn div {
  height: 100%;
}

.fullWidth .btnWarn, .fileSelector .btnWarn, .fullScreen .btnWarn {
  width: auto;
  white-space: nowrap;
  font-size: 1em;
}

.fileSelector .fileName {
  margin-right: 10px;
  color: #ececec;
}

.fileSelector .btnChange {
  font-size: 0.85em;
}

.fileSelector .InfoText {
  color: #2e6da4;
  font-size: 0.85em;
}

.btnRefreshFloating {
  position: fixed;
  right: 16px;
  top: 60px;
  z-index: 1020;
  width: 120px;
  height: 40px;
  font-size: 1.4em;
}

.toolbar {
  position: fixed;
  top: 60px;
  z-index: 1020;
  margin-left: 10px;
}

.outputPanelToolBar {
  border: 1px solid #000000;
  background: #4a4a4a;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 16px;
}

.outputPanelToolBar h3 {
  font-size: 1em;
  color: white;
  margin-top: 10px;
}

.outputPanelToolBar .Section h3 {
    padding-bottom: 0px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: #e0e0e0;
    font-size: 0.92em;
}

.toolPanelContainer .Section h3 {
  color: #ff7d1b;
}

.Section .sectionContainer {
  padding-left: 10px;
}

.sectionContainer .btn, .outputPanelToolBar .btn, .xsDialogContainer .btn {
  display: block;
  background: none;
  color: #d4a34a;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin-left: -10px;
  font-size: 0.95em;
}

.sectionContainer .btn:active, .outputPanelToolBar .btn:active, .xsDialogContainer .btn:active{
  background: #3a3a3a !important;
}

.sectionContainer .btn:hover, .outputPanelToolBar .btn:hover, .xsDialogContainer .btn:hover {
  color: #ffcf78 !important;
}

.sectionContainer .btn.plotHidden, .outputPanelToolBar .btn.plotHidden, .toolPanelContainer .Section.Disabled h3 {
  color: gray;
}

.sectionContainer .btn.ExtraButton {
  color: #d47d47;
}

.btnShowToolbar {
  width: 30px;
  height: 30px;
}

.btnHideToolbar {
  float: right;
  margin-top: 2px;
  margin-right: -12px;
  color: #fff;
  font-size: 1.2em;
}

.btnRmf {
  float: right;
  margin-top: -10px;
}

.actionsContainer .btn {
  font-size: 1.2em;
  width: 49%;
  margin-top: 30px;
}

.paramContainer input[type="text"] {
  width: 80px;
  float: right;
  text-align: right;
}

.paramContainer .switch-wrapper {
  float: left;
  top: 1px;
  margin-right: 10px;
}

.paramContainer .applied {
  color: #5cb85c;
}

.paramContainer .fixed {
  color: #121212;
}

.paramContainer .estimation, .paramContainer .error {
  float: right;
  font-size: 0.8em;
  color: #5cb85c;
  width: 70px;
  text-align: right;
}

.estimation a.applySngBtn {
  float: left;
  color: #5cb85c;
}

.estimation .err {
    color: red;
    font-size: 0.75em;
}

.error .err {
  color: red;
  font-size: 1.2em;
  margin-top: 2px;
}

.ui-dialog{
  z-index: 1030 !important;
}

.ui-dialog .ui-dialog-titlebar-close{
  padding-top: 0px;
}

.ui-dialog-content .row {
  margin-left: 12px;
  margin-right: 3px;
}

.ui-dialog-content input {
  float: right;
  width: 60px;
  height: 25px;
  text-align: right;
}

.xsDialogContainer {
    padding: 20px;
}

input.wrongValue {
  color: red !important;
}

.colorScale canvas {
  border: 1px solid black;
}

.colorScale .colorScaleCanvas {
  width: 100%;
  height: 10px;
}

.colorScale .colorPlotCanvas {
  width: 80px;
  height: 80px;
  float: left;
  margin-top: 8px;
}

.colorScale .sliderSelector {
  padding-left: 10px;
  padding-right: 10px;
}

.colorScale .sliderSelector h3 {
  font-size: 0.95em;
  padding-left: 100px;
}

.colorScale .sliderSelector .selectorContainer {
  width: 40%;
  float: right;
  margin-top: -20px;
}

.colorScale .sliderSelector .selectorContainer input{
  width: 50px;
  margin-top: -10px;
  margin-left: -60px;
}

.colorScale .sliderSelector .selectorContainer .selectorSlider{
  margin-top: 0px;
  margin-left: 0px;
}

.modelSelector .floatingContainer {
  float: right;
  margin-top: -30px;
}

.TabPanel.Settings .wfSelectorContainer, .TabPanel.Settings .outputPanelContainer
{
  display: none;
}

.TabPanel.Settings .toolPanelContainer
{
  width: 100%;
}

.TabPanel.Settings h2
{
  color: rgb(245, 243, 243);
  font-size: 1.5em;
}

.TabPanel.Settings h3
{
  color: #d0d0d0;
}
