
@font-face {
  font-family: Furore;
  src: url("../fonts/Furore.otf") format("opentype");
}

html,body,.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

h3
{
  font-size: 1.2em;
}

.navbar-static-top {
  background-color: #222;
  margin-bottom: 0px;
}

.navbar .navbar-brand {
  font-family: Furore;
  color: #DD4814;
  font-size: 20px;
}

.side-nav {
  width: 90px;
}

.side-nav a {
  color: #9d9d9d;
}

.side-nav li.active {
  background-color: #000;
}

.daveContainer.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.daveContainer .fill
{
    position: relative;
}

.daveContainer .fill:after
{
    content: '';
    display: block;
    clear: left;
}

.daveContainer .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.wfSelectorContainer, .toolPanelContainer, .outputPanelContainer, .height_100
{
    float: left;
    position: static;
    height: 100%;
    max-height: 100% !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wfSelectorContainer
{
  width: 90px;
}

.toolPanelContainer
{
  padding-top: 40px;
  background-color: rgb(47, 47, 47);
  color: #9d9d9d;
}

.toolPanelContainer input[type="text"] {
  background-color: #4a4a4a;
  border: 1px solid #222;
}

.outputPanelContainer
{
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.outputPanelToolBar .btn {
  margin-right: 2px;
  margin-bottom: 2px;
}

.daveContainer .columnDivider
{
  border-right: 1px solid black;
}

.infoPanel
{
  float:left;
  width: 98%;
  height: 305px;
  border: 1px solid #afafaf;
  /*background-color: #ffffff;*/
  margin: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 12px;
  padding-top: 0px;
  overflow-y: scroll;
}

.infoPanel .property {
  margin-top: 6px;
  width: 100%;
}

.infoPanel .btn
{
  float:right;
  margin-top: 12px;
}

.property .tag {
  width: 18%;
  font-weight: bold;
  vertical-align: top;
}

.property .value {
  width: 30%;
  overflow: hidden;
  vertical-align: top;
}

.property .comment {
  width: 48%;
  color: #999999;
  vertical-align: top;
}

.plotContainer
{
  float:left;
  width: 48%;
  border: 1px solid #afafaf;
  /*background-color: #ffffff;*/
  margin: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 0;
}

.plotContainer .plot{
  overflow: hidden;
  height: 305px;
}

.plotContainer .btnHidePlot
{
  top: 0;
}

.plotContainer .hoverinfo
{
  margin-right: 24px;
  margin-top: 4px;
  float:left;
  font-size: 0.7em;
}

.plotContainer .plotTools
{
  float:right;
}

.plotContainer .settings
{
  padding: 24px;
}

.fullWidth
{
  width: 98%;
}

.sliderSelector .switch-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  top: 3px;
}

.sliderSelector .switch-btn {
  cursor: pointer;
}

.sliderSelector .ui-slider-horizontal {
  background-color: #6a6a6a;
  border: 1px solid #222;
}

.sliderSelector .selectorFrom, .sliderSelector .selectorTo {
  float: left;
  width: 80px;
  margin-top: -30px;
}

.sliderSelector .selectorTo {
  float: right;
}

.sliderSelector .selectorSlider {
  margin-top: 35px;
}

.buttonsContainer{
  padding-top: 24px;
  padding-bottom: 60px;
}

.btn {
  padding: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}
