
html,body,.container {
    height:100%;
    margin: 0 auto;
}

h3
{
  font-size: 1.2em;
}

.daveContainer *:before, .daveContainer *:after
{
    display: none;
}

.daveContainer.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.daveContainer .fill
{
    position: relative;
}

.daveContainer .fill:after
{
    content: '';
    display: block;
    clear: left;
}

.daveContainer .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.wfSelectorContainer, .toolPanelContainer, .outputPanelContainer
{
    float: left;
    position: static;
    height: 100%;
}

.wfSelectorContainer
{
  background-color: #cfcfcf;
}

.toolPanelContainer
{
  background-color: #dfdfdf;
}

.outputPanelContainer
{
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.daveContainer .columnDivider
{
  border-right: 1px solid black;
}

.plotContainer
{
  float:left;
  width: 50%;
  height: 300px;
  border: 1px solid #afafaf;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.sliderSelector .switch-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  top: 3px;
}

.sliderSelector .selectorFrom, .sliderSelector .selectorTo {
  float: left;
  width: 80px;
  margin-top: -30px;
}

.sliderSelector .selectorTo {
  float: right;
}

.sliderSelector .selectorSlider {
  margin-top: 35px;
}
